<nav class="nav">
  <div class="nav__inner">
    <a class="nav__brand" routerLink="/">
      <span class="nav__mark"></span>
      Programme
    </a>
    <div class="nav__links">
      <a
        class="nav__link is-strength"
        routerLink="/strength"
        routerLinkActive="is-active"
      >
        Musculation
      </a>
      <a
        class="nav__link is-running"
        routerLink="/running"
        routerLinkActive="is-active"
      >
        Course
      </a>
      <a
        class="nav__link is-swimming"
        routerLink="/swimming"
        routerLinkActive="is-active"
      >
        Natation
      </a>
    </div>
  </div>
</nav>
